[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
pprint = "*"
setuptools = "*"
wheel = "*"
packaging = "*"
pre-commit = "*"

[packages]
micropython-cpython-upip = "*"
dictdiffer = "*"
pygithub = "*"
deepmerge = "*"
click = "*"

[requires]
python_version = "3.7"
